@charset "UTF-8";
*{
    height: 100%;
}
h1{
    font-family:'Courier New', Courier, monospace ;
    color: cadetblue;
}
body{
    background-image: linear-gradient( to bottom, 
    #004C50, #00939C,#10ABB4);
}